<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khôi phục mật khẩu</title>
</head>
<body>
<p>Chào {{ .FirstName }},</p>
<p>Chúng tôi đã nhận được yêu cầu khôi phục mật khẩu cho tài khoản của bạn. Dưới đây là mã xác nhận của bạn để tiến hành đổi mật khẩu:</p>
<ul>
    <li><strong>Mã xác nhận của bạn:</strong> {{ .Code }}</li>
</ul>
<p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này hoặc liên hệ với chúng tôi ngay.</p>
<p>Xin cảm ơn.</p>
<p>Trân trọng</p>
</body>
</html>
