{{template "base" .}}
{{define "content"}}
<table role="presentation" class="main">
    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Hello {{ .FirstName }},</p>
                        <p>Welcome to our platform!</p>
                        <p>Your account has been successfully created.</p>
                        <p>Thank you for joining us.</p>
                        <p>If you have any questions or need assistance, feel free to contact us.</p>
                        <p>Best regards,</p>
                        <p>FEIT | Fluent English for IT</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MAIN CONTENT AREA -->
</table>
{{end}}
